html,
body {
  height: 100%;
}

body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgb(252, 252, 23) 0%, rgba(0, 0, 0, 1) 100%);
  color: black;
}

button {
  background: rgb(151, 134, 115);
  color: rgba(0, 0, 0, 1);
  padding: 0 45px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background: rgb(200, 11, 11)
}